<div class="row">
	<div>Welcome {{userInfo.userName}}</div>
    <div>
       <table>
       		<thead>
       			<tr>Id</tr>
       			<tr>Defect Name</tr>
       			<tr>Status</tr>
       		</thead>
       		<tbody>
       			<tr ng-repeat= "x in userDefects">
       				<td>{{x.defectid}}</td>
       				<td>{{x.defectname}}</td>
       				<td>{{x.status}}</td>
       			</tr>
       		</tbody>
       </table>
    </div>
    <br />
    <a ng-click="logout()" class="btn btn-link">Logout</a>
</div>